* {
    margin: 0;
    padding: 0;
    transition: 0.4s ease-in-out;
}

:root {
    --main-bg: #ffffff;
    --wrapper-bg: #feeaea;
    --main-txt: #686868;
    --secondary-txt: #5d5d5d;
    --header-txt: #ffffff;
    --overlay: rgba(255, 196, 205, 0.9);
    --accent1: #fabcc6;
    --accent2: #94b594;
    --section-bg: #ffffff;
    --nav: #818181;
    --border: #eeeeee;
}

a {
    padding-bottom: 2px;
    text-decoration: none;
    color: var(--secondary-txt);
    border-bottom: 2px solid var(--accent1);
}

a:hover {
    color: var(--accent2);
    border-bottom: 2px solid var(--accent2);
}

ul, ol {
    margin-left: 15px;
}

blockquote {
    border-left: 2px solid var(--accent2);
    padding-left: 15px;
}

small, big, sub, sup {
    font-size: inherit;
}

::selection {
    background-color: var(--accent2);
    color: var(--main-bg);
}

b {
    color: var(--accent2);
}

i {
    color: var(--accent2);
}
/**
::-webkit-scrollbar {
    width: 14px;
    background-color: var(--border);
    border: 6px solid var(--main-bg);
}

::-webkit-scrollbar-thumb {
    width: 14px;
    background-color: var(--accent1);
    border: 4px solid var(--main-bg);
    border-radius: 10px;
}
**/
#s-m-t-tooltip {
    max-width: 300px;
    margin: -24px 14px 7px 12px;
    padding: 2px 6px;
    background-color: var(--accent2);
    color: var(--main-bg);
    border-radius: 3px;
    z-index: 100;
}

body {
    background: var(--main-bg);
    color: var(--main-txt);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.8em;
}

/** header **/
header {
    height: 100vh;
    color: var(--header-txt);
    background: linear-gradient(var(--overlay), var(--overlay)), url(../img/header.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#header-intro {
    padding: 6px;
    width: 900px;
    text-align: center;
    background: url(../img/pattern.png);
    background-position: center;
    background-repeat: no-repeat;
}

#header-intro h1 {
    margin-bottom: 30px;
    font-size: 6em;
    text-transform: uppercase;
    text-shadow: 5px 0px 0px var(--accent1);
    letter-spacing: 8px;
    line-height: normal;
}

#header-intro:hover h1#first {
    display: none;
}

#header-intro:hover h1#second {
    display: block;
}

#second {
    display: none;
}

#click-through {
    position: absolute;
    bottom: 20px;
    font-size: 1.3em;
}

#click-through > i {
    color: var(--main-bg);
}

/** navigation **/
nav {
    display: none;
    padding: 20px 20px 20px 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

nav ul {
    margin-left: 20px;
    list-style: none;
}

nav li {
    margin: 5px 0;
}

nav li a {
    padding: 2px 4px;
    background: var(--accent1);
    color: var(--main-bg);
    font-family: monospace;
    cursor: help;
    border-radius: 3px;
}

nav li a:hover {
    background-color: var(--main-bg);
    color: var(--accent1);
}

nav li a:hover::before {
    background-color: var(--accent1);
}

nav li a::before {
    display: inline-block;
    margin-right: 15px;
    content: '';
    width: 15px;
    height: 1px;
    vertical-align: middle;
    background: var(--main-bg);
    transition: 0.4s;
}

nav li.active a::before {
    width: 45px;
    background-color: var(--accent1);
}

nav li.active a {
    background-color: var(--main-bg);
    color: var(--accent1);
}

#section-wrapper {
    position: relative;
    margin-top: 100vh;
    z-index: 1;
}

/** wrapper **/
.content-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--wrapper-bg);
}

.wrapper {
    padding: 50px;
    min-width: 200px;
    max-width: 700px;
    background: var(--main-bg);
    border-radius: 15px;
}

.wrapper p {
    margin-top: 30px;
}

.wrapper h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wrapper h1 span {
    margin-right: 10px;
    padding: 10px;
    background: var(--accent1);
    color: var(--main-bg);
    font-family: monospace;
    border: 2px solid transparent;
    border-radius: 3px;
}

.wrapper:hover h1 span {
    background: transparent;
    color: var(--accent1);
    border: 2px solid var(--accent1);
}

/** services **/
.inner-wrapper {
    display: flex;
    justify-content: space-between;
}

.inner-column {
    margin: 0 20px;
    width: 50%;
}

.inner-column ul {
    list-style: none;
}

.inner-column li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    background: var(--accent1);
    border-radius: 50%;
}

.inner-column h3 {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    background: var(--overlay);
    color: var(--main-bg);
}

/** portfolio **/
#inner-portfolio {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

#inner-portfolio a {
    margin: 0 10px;
    font-size: 1.2em;
    text-transform: uppercase;
}

.pt-progress-bar {
    margin: 10px 0;
    width: 100%;
    height: 5px;
    background: var(--border);
    border-radius: 2px;
}

.pt-progress-bar .pt-progress span {
    display: block;
    position: relative;
    max-width: inherit;
    height: 5px;
    background: var(--accent1);
    border-radius: 2px;
}

.pt-progress-bar .pt-100 span {
    background: var(--accent2);
}

/** footer **/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: var(--main-bg);
    text-transform: uppercase;
}

#footer-info {
    color: var(--secondary-txt);
}

#footer-social i {
    margin: 0 10px;
    color: var(--accent1);
    font-size: 1.4em;
}

#footer-social i:hover {
    color: var(--accent2);
}

.bubble {
    padding: 2px 4px;
    background: var(--accent1);
    color: var(--main-bg);
    border-radius: 3px;
}

#click-through, nav li a, nav li a:hover, #footer-social a {
    border-bottom: 0;
}

@media only screen and (min-width : 100px) and (max-width : 736px) {

    body {
        line-height: 2em;
    }

    nav, #click-through {
        display: none!important;
    }

    header {
        position: inherit;
        height: 350px;
    }

    #section-wrapper {
        margin-top: 0;
    }

    #header-intro {
        width: 300px;
        height: 135px;
    }

    #header-intro h1 {
        font-size: 2em;
        text-shadow: 2px 0px 0px var(--accent1);
    }

    .content-wrapper {
        background: var(--main-bg);
        height: auto;
    }

    .wrapper {
        border-radius: 0px;
    }

    .inner-wrapper {
        display: block;
    }

    .inner-column {
        margin: 0 auto;
        width: 100%;
    }

    .inner-column:first-of-type {
        margin-bottom: 50px;
    }

    #inner-portfolio {
        font-size: 1.2em;
        text-align: center;
    }

    #inner-portfolio a {
        margin: 0 10px;
        font-size: 1em;
        text-transform: uppercase;
    }

    #break {
        display: block;
        visibility: hidden;
    }

}
