
* {
    margin: 0;
    padding: 0;
    transition: 0.4s ease-in-out;
}

:root {
    --main-bg-colour: #ffffff;
    --alt-bg-colour: #ffebeb;
    --main-txt-colour: #686868;
    --secondary-txt-colour: #5d5d5d;
    --header-txt-colour: #ffffff;
    --overlay-colour: rgba(255, 196, 205, 0.8);
    --accent1-colour: #fabcc6;
    --accent2-colour: #da8c8c;
    --section-bg-colour: #ffffff;
    --bold-txt-colour: #222222;
    --border-colour: #eeeeee;
}

a {
    padding-bottom: 2px;
    text-decoration: none;
    color: var(--secondary-txt-colour);
    border-bottom: 2px solid var(--accent1-colour);
}

a:hover {
    color: var(--accent2-colour);
    border-bottom: 2px solid var(--accent2-colour);
}

ul, ol {
    margin-left: 15px;
}

blockquote {
    border-left: 2px solid var(--accent1-colour);
    padding-left: 15px;
}

small, big, sub, sup {
    font-size: inherit;
}

::selection {
    background-color: var(--main-bg-colour);
    color: var(--accent1-colour);
}

b {
    color: var(--accent2-colour);
}

i {
    color: var(--accent2-colour);
}

::-webkit-scrollbar {
    width: 14px;
    background-color: var(--border-colour);
    border: 6px solid var(--main-bg-colour);
}

::-webkit-scrollbar-thumb {
    width: 14px;
    background-color: var(--accent1-colour);
    border: 4px solid var(--main-bg-colour);
    border-radius: 10px;
}

#s-m-t-tooltip {
    max-width: 300px;
    z-index: 100;
    margin: -24px 14px 7px 12px;
    padding: 2px 6px;
    background-color: var(--accent2-colour);
    color: var(--main-bg-colour);
    border-radius: 3px;
}

body {
    background: var(--main-bg-colour);
    color: var(--main-txt-colour);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.8em;
}

/** header **/
header {
    height: 100vh;
    color: var(--header-txt-colour);
    background: linear-gradient(var(--overlay-colour), var(--overlay-colour)), url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-intro {
    padding: 6px;
    width: 900px;
    text-align: center;
    background: url(../img/pattern.png);
    background-position: center;
    background-repeat: no-repeat;
}

#header-intro h1 {
    margin-bottom: 30px;
    font-size: 6em;
    text-transform: uppercase;
    text-shadow: 5px 0px 0px var(--accent1-colour);
    letter-spacing: 8px;
    line-height: normal;
}

#header-intro:hover h1#first {
    display: none;
}

#header-intro:hover h1#second {
    display: block;
}

#second {
    display: none;
}

#click-through {
    position: absolute;
    bottom: 20;
    color: var(--main-bg-colour);
    font-size: 1.3em;
}

/** navigation **/
nav {
    padding: 20px 20px 20px 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    margin-left: 20px;
    list-style: none;
}

nav li a {
    font-family: monospace;
    cursor: help;
}

nav li::before {
    display: inline-block;
    margin-right: 15px;
    content: '';
    width: 15px;
    height: 1px;
    vertical-align: middle;
    background: var(--accent1-colour);
    transition: width 0.4s;
}

nav li.active::before{
    width: 45px;
}

/** wrapper **/
.content-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper:nth-of-type(even) {
    background: var(--alt-bg-colour);
}

.wrapper {
    padding: 50px;
    min-width: 200px;
    max-width: 700px;
    background: var(--main-bg-colour);
    border-radius: 15px;
}

.wrapper p {
    margin: 30px 0;
}

.wrapper h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.wrapper h1 span {
    margin-right: 10px;
    padding: 10px;
    background: var(--accent1-colour);
    color: var(--main-bg-colour);
    font-family: monospace;
    border: 2px solid transparent;
}

.wrapper:hover h1 span {
    background: transparent;
    color: var(--accent1-colour);
    border: 2px solid var(--accent1-colour);
}

/** about **/
#about {

}

/** services **/
#services-inner {
    display: flex;
    justify-content: space-between;
}

.services-column {
    width: 50%;
}

.services-column ul {
    list-style: none;
}

.services-column li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 5px;
    height: 5px;
    background: var(--accent1-colour);
    border-radius: 50%;
}

.services-column h3 {
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
    background: var(--accent1-colour);
    color: var(--main-bg-colour);
    border: 2px solid var(--main-bg-colour);
}
.services-column:hover h3 {
    background: transparent;
    color: var(--accent1-colour);
    border: 2px solid var(--accent1-colour);
}

/** portfolio **/
#portfolio {

}

/** skills **/
#skills {

}

/** footer **/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    text-transform: uppercase;
}

#footer-info {
    color: var(--secondary-txt-colour);
}

#footer-social i {
    margin: 0 10px;
    color: var(--accent1-colour);
    font-size: 1.4em;
}

#footer-social i:hover {
    color: var(--accent2-colour);
}

.bubble {
    padding: 2px 4px;
    background: var(--accent1-colour);
    color: var(--main-bg-colour);
    border-radius: 3px;
}

#click-through, nav li a, nav li a:hover, #footer-social a {
    border-bottom: 0;
}

#graphicdesign-inner h1:after {
    content: " ";
    border: 2px solid #f6bcb1;
    display: block;
    width: 160px;
    margin: 5px auto;
    transition: 0.4s;
}

#webdev-inner h1:after {
    content: " ";
    border: 2px solid #ffffff;
    display: block;
    width: 160px;
    margin: 5px auto;
    transition: 0.4s;
}

#graphicdesign-wrapper:hover > #graphicdesign-inner h1:after {
  width: 250px;
}
