#back {
    display: block;
    position: fixed;
    z-index: 1;
    top: 35px;
    left: 35px;
}

#back a {
    text-transform: uppercase;
}

#back .fa {
    margin-right: 10px;
    vertical-align: middle;
    color: var(--accent1);
}

#design-portfolio {
    width: 100%;
    background: var(--wrapper-bg);
}

#design-portfolio::before, #design-portfolio::after {
    clear: both;
    content: "";
    display: table;
    margin-top: -1px;
    height: 0;
}

#design-wrapper {
    margin: 100px auto;
    background: white;
    border-radius: 15px;
    padding: 50px;
    width: 50%;
}

#design-wrapper h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

#design-wrapper h1 span {
    margin-right: 10px;
    padding: 10px;
    background: var(--accent1);
    color: var(--main-bg);
    font-family: monospace;
    border: 2px solid transparent;
    border-radius: 3px;
}

.grid-sizer, .design-box {
    width: calc(33.33% - 40px);
    margin: 20px;
}

.design-box {
    height: auto;
}

.design-box img {
    display: block;
    max-width: 100%;
}

.design-box p {
    margin: 20px 0;
    font-size: 1.1em;
    text-align: center;
}

.filters {
    text-align: center;
}

.filters li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 1px solid transparent;
    cursor: help;
}

.filters li:hover {
    border-bottom: 2px solid var(--accent1);
}

.filters .active {
    border-bottom: 2px solid var(--accent1);
}
